html {
  font-size: 2.5vw;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}

.message {
  background-color: limegreen;
  border-radius: 5px;
  color: #fff;
  line-height: 1.5;
  margin-top: -1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: .5rem;
  width: 30%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.field {
  border-style: outset;
  border-width: 1px;
  color: #888;
  font-size: 2rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
}
.field[readonly] {
  color: #222;
}
.field[readonly]:focus {
  outline: none;
}

.field:nth-child(3n+0):not(:last-child) {
  border-right-width: 3px;
}
.row:nth-child(3n+0):not(:last-child) .field {
  border-bottom-width: 3px;
}

.sudoku-time-action:before {
  content: '';
  border-color: transparent transparent transparent #202020;
  display: inline-block;
  box-sizing: border-box;
  border-style: double;
  margin-right: .5em;
  transition: 100ms all ease;
  will-change: border-width;
  width: 0;
  height: .75em;
}
.sudoku-play:before {
  border-style: solid;
  border-width: .45em 0 .45em 1em;
}
.sudoku-pause:before {
  border-width: 0 0 0 1em;
}

.sudoku-board {
  margin: 2rem;
}

.sudoku-actions {
  display: flex;
  justify-content: center;
}

.new-sudoku-btn,
.share-link-btn {
  align-items: center;
  display: flex;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: .5rem;
}

.icon:before {
  content: '';
  display: inline-block;
  position: relative;
}
.icon-sudoku:before {
  background-image: url('./Assets/Icons/sudoku-icon.svg');
  background-size: cover;
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
}
.icon-link:before {
  background-image: url('./Assets/Icons/link.png');
  background-size: cover;
  width: 3rem;
  height: 3rem;
  margin-right: .5rem;
}

.sudoku-board.solved .field {
  border-color: lightgreen;
  border-style: solid;
}
.sudoku-board.solved .field:first-child {
  border-left-color: green; 
}
.sudoku-board.solved .field:nth-child(3n+0) {
  border-right-color: green; 
}
.sudoku-board.solved .row:first-child .field {
  border-top-color: green;
}
.sudoku-board.solved .row:nth-child(3n+0) .field {
  border-bottom-color: green; 
}

footer {
  color: #777;
}
footer a {
  color: #0000eec4;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}